In [1]:
print ("hi")

hi

In [3]:
"[%20s]"

'[%20s]'

In [4]:
x=1/3.0
"%5f" % x

'0.333333'

In [7]:
"내 이름은 %s입니다." % "1"

'내 이름은 1입니다.'

In [8]:
"1" + "1"

'11'

In [9]:
name = "윤현정"
age = 46
"%s is %d years old" % (name, age)

'윤현정 is 46 years old'

In [10]:
a = 10
b = 3
"%d / %d = %.4f" % (a, b, a/b)

'10 / 3 = 3.3333'

In [11]:
"[%20s]" % "*"

'[                   *]'

In [38]:
a = 3
b = 12
"%8d"% a ,
"%s %6d" % ("x", b)

'x     12'

In [2]:
y = 2100
if (y% 400 == 0):
    print("윤년")
elif(y % 100 == 0) :
    print("평년")
else :
    print("윤년")

평년

In [6]:
x = 11
if x > 10 :
    print("1등급")
elif x > 7 :
    print("2등급")
elif x > 4 :
    print("3등급")
else :
    print ("4등급")

1등급

In [37]:
XA = True # True = "자백", False = "부인"
XB = True
YA = 1
YB = 5
YC = 10
if (XA == False):
    if (XB == False) :
        print("둘다 " + str(YA) + "년 복역")
    else:
        print("XB는 "  + str(YC) + "년 복역, XA는 자유")
else :
    if (XB == False) :
        print ("XA "  + str(YC) + "년 복역, XB는 자유")
    else : 
        print ("둘다 "  + str(YB) + "년 복역")

둘다 5년 복역

In [43]:
def twotimes(x) :
    y = 2 * x
    return y
twotimes(2)

4

In [53]:
def odd_even(x) :
    if (x % 2 == 0) :
        y = "짝수"
    else :
        y = "홀수"
    return y 

odd_even(20)

'짝수'

In [2]:
def 윤년(y) :
    if (y% 400 == 0):
        x = "윤년"
    elif(y % 100 == 0) :
        x = "평년"
    else :
        x = "윤년"
    return x

윤년(1900)

'평년'

In [9]:
def days1(x) :
    if (x==1) | (x==3) | (x==5) | (x==7) | (x==8) | (x==10) | (x==12) :
        y = 31
    elif (x==2) :
        y = 28
    else :
        y = 30
    return y

days1(2)

28

In [35]:
def days2(x, y) :
    if (y==1) | (y==3) | (y==5) | (y==7) | (y==8) | (y==10) | (y==12) :
        z = print(x, "년 일수는 31일")
    elif (y==2) :
        if (x % 400 == 0):
            z = print(x, "년", y, "월 일수는 28일")
        elif(x % 100 == 0) :
            z = 28
        else :
            z = 29
    else :
        z = 30
    return z

days2(2000, 2)

2000 년 2 월 일수는 28일

In [24]:
def f(x) :
    return 2 * x

In [27]:
f = lambda x : 2 * x
f(2)

4

In [28]:
def f(x) :
    y = 10 * x
    print("y = ", y)
    return y

In [29]:
f(10)

y =  100

100

In [38]:
y = 1000

In [40]:
y

1000

In [42]:
f(1)

y =  10

10

In [5]:
def diffsum(x, y, z) :
    nomal_sum = x + y + z 
    square_sum = x**2 + y**2 + z**2
    diff_sum = abs(nomal_sum - square_sum)
    return diff_sum

diffsum(1,2,3)

8

In [11]:
m = 0
x =1
y =1
z =1 
def diffsum2(x, y, z) :
    global m
    if diffsum(x,y,z) > m :
        m = diffsum(x,y,z)
        return m

In [7]:
z = 3

def f4(x) :
    global z
    z = 99
    y = z * x
    print("y =", y)
    print("z =", z)
    return z

In [13]:
diffsum2(1,2,3)

In [16]:
m

8

In [24]:

for i in range(10) :
    i = 1 + i
    print("=" + str(i) + "=")

=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=
=10=

In [26]:
for i in range(10) :
    print ("*" * i)

*
**
***
****
*****
******
*******
********
*********

In [30]:
for i in range(10) :
    j = 10
    j = j - i
    print ("*" * j)

**********
*********
********
*******
******
*****
****
***
**
*

In [54]:
for i in range(20) :
    if i < 10 :
        print ("*" * i)
    else :
        j = 20
        j = j - i
        print ("*" * j)

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [9]:
for i in range(4):
    for j in range(4):
        print(i+j, end=" ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [12]:
for i in range(3):
    n1 = i + 1
    for j in range(3):
        n2 = j + 1
        print(n1, n2)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [17]:
for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        n = n1 + n2
        if (n == 4):
            print(n1, n2)

1 3
2 2
3 1

In [47]:
n = 2
price = 1024
for i in range(n):
    i = i + 1
    for k in range(n):
        k = k + 1
        for j in range(2):
            j = j + 1
            if j == 1 :
                price = price *2
                print(i, k, j, price)
            else :
                price = price  / 2
                print(i, k, j, price)

1 1 1 2048
1 1 2 1024.0
1 2 1 2048.0
1 2 2 1024.0
2 1 1 2048.0
2 1 2 1024.0
2 2 1 2048.0
2 2 2 1024.0

In [49]:
n = 5
sum = 0
for i in range(n):
    sum = sum + (i + 1)
    print(i, sum)

0 1
1 3
2 6
3 10
4 15

In [53]:
day_1 = 1024
for i in range(2):
    if i == 0:
        day_2 = day_1*2
    else : day_2 = day_1/2
    for j in range(2):
        if j == 0:
            day_3 = day_2*2
        else : day_3 = day_2/2
        for k in range(2):
            if k == 0:
                day_4 = day_3*2
            else : day_4 = day_3/2
            print(day_4)

8192
2048.0
2048.0
512.0
2048.0
512.0
512.0
128.0

In [4]:
for j in range(10):
    sum = 0
    for i in range(j+1):
        sum = sum + (i+1)
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [26]:
def func_sum(i):
    if (i == 1):
        return i
    else:
        return i + func_sum(i - 1)

summ = 0
last_num = int(input('last_num: '))
for i in range(1, last_num + 1):
    summ += func_sum(i)
print(summ)

last_num: 3
10